{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "vue/singleline-html-element-content-newline": [
      "error",
      {
        "ignoreWhenNoAttributes": true,
        "ignoreWhenEmpty": true
      }
    ]
  }
}
